TABLE
{
    FONT-SIZE: 11px;
    FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
}
BODY
{
    MARGIN-TOP: 0px;
    SCROLLBAR-FACE-COLOR: #D2E9FF;
    FONT: 11px/145% Tahoma, Arial, Helvetica, sans-serif;
    SCROLLBAR-HIGHLIGHT-COLOR: #D2E9FF;
    MARGIN-LEFT: 0px;
    SCROLLBAR-SHADOW-COLOR: #ffffff;
    COLOR: #666666;
    SCROLLBAR-3DLIGHT-COLOR: #D2E9FF;
    MARGIN-RIGHT: 0px;
    SCROLLBAR-ARROW-COLOR: #666666;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    SCROLLBAR-DARKSHADOW-COLOR: #c0ed00;
    BACKGROUND-COLOR: #ffffff
}
A
{
    FONT: 9px "Tahoma" , "Arial", "Helvetica", "sans-serif";
    COLOR: #666666;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
A:hover
{
    FONT: 9px "Tahoma" , "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #ff0000;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: underline
}
A:link
{
    FONT: 9px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #666666;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
A.RedLinks:hover
{
    FONT: 9px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #ff0000;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
A:visited
{
    FONT: 9px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #666666;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
A:active
{
    FONT: 9px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #ff0000;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.table_text
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT: 11px/145% Tahoma, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: justify
}
.table_text_2
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    FONT: 11px/145% Tahoma, Arial, Helvetica, sans-serif;
    PADDING-TOP: 10px;
    TEXT-ALIGN: justify
}
.padding_lhs
{
    PADDING-BOTTOM: 5px;
    FONT: 11px/145% Tahoma, Arial, Helvetica, sans-serif;
    PADDING-TOP: 10px;
    TEXT-ALIGN: center
}
.padding_rhs
{
    PADDING-BOTTOM: 5px;
    FONT: 11px/145% Tahoma, Arial, Helvetica, sans-serif;
    PADDING-TOP: 5px;
    TEXT-ALIGN: center
}
.padding_iBank
{
    PADDING-TOP: 5px
}
.ibank_search
{
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 5px;
    FONT: 11px/145% Tahoma, Arial, Helvetica, sans-serif;
    PADDING-TOP: 5px
}
.ibank_text
{
    FONT: 11px/145% Tahoma, Arial, Helvetica, sans-serif
}
.login_box_text
{
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    FONT: 11px/145% Tahoma, Arial, Helvetica, sans-serif;
    PADDING-TOP: 5px
}
.padding_mainBody
{
    PADDING-TOP: 7px
}
.form_cells
{
    PADDING-BOTTOM: 10px
}
.main_body
{
    FONT: 11px/145% Tahoma, Arial, Verdana;
    COLOR: #000000;
    LETTER-SPACING: 1px
}
.green_color
{
    DISPLAY: inline;
    COLOR: #336600
}
.black_color
{
    DISPLAY: inline;
    COLOR: #000000
}
.padding10
{
    DISPLAY: inline;
    PADDING-LEFT: 10px
}
.padding20
{
    DISPLAY: inline;
    PADDING-LEFT: 20px
}
.padding30
{
    DISPLAY: inline;
    PADDING-LEFT: 30px
}
.table_padding_records
{
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    COLOR: #666666;
    PADDING-TOP: 2px
}
FORM
{
    DISPLAY: inline
}
.select_services
{
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    FONT: 11px Tahoma, Arial, Helvetica, sans-serif;
    BORDER-LEFT: 0px solid;
    WIDTH: 145px;
    COLOR: #666666;
    BORDER-BOTTOM: 0px solid;
    BACKGROUND-COLOR: #ffffff
}
.small_services
{
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    FONT: 11px Tahoma, Arial, Helvetica, sans-serif;
    BORDER-LEFT: 0px solid;
    WIDTH: 120px;
    COLOR: #666666;
    BORDER-BOTTOM: 0px solid;
    BACKGROUND-COLOR: #ffffff
}
.inputCells
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 80px;
    COLOR: #666666;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.inputCells11
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 80px;
    COLOR: #666666;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.button
{
    BORDER-RIGHT: #c0ed00 1px solid;
    BORDER-TOP: #c0ed00 1px solid;
    MARGIN-TOP: 3px;
    FONT: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #c0ed00 1px solid;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #c0ed00 1px solid;
    BACKGROUND-COLOR: #e6f79a;
    TEXT-ALIGN: center
}
.buttonproceed
{
    BORDER-RIGHT: #c0ed00 1px solid;
    BORDER-TOP: #c0ed00 1px solid;
    MARGIN-TOP: 3px;
    FONT: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #c0ed00 1px solid;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #c0ed00 1px solid;
    BACKGROUND-COLOR: #e6f79a;
    TEXT-ALIGN: center
}
.button_dark
{
    BORDER-RIGHT: #c0ed00 1px solid;
    BORDER-TOP: #c0ed00 1px solid;
    MARGIN-TOP: 3px;
    FONT: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #c0ed00 1px solid;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #c0ed00 1px solid;
    BACKGROUND-COLOR: #d3ee5c;
    TEXT-ALIGN: center
}
.select_multiple
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: #666666;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.select_multiple1
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: #666666;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.inputCells_search
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.padding_lhs_login
{
    PADDING-BOTTOM: 5px;
    FONT: 11px/145% Tahoma, Arial, Verdana;
    PADDING-TOP: 5px;
    TEXT-ALIGN: center
}
A.greenLinks:link
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #336600;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
A.greenLinks:hover
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #336600;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: underline
}
A.greenLinks:visited
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #336600;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
A.blackLinks:link
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #000000;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
A.blackLinks:hover
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #000000;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: underline
}
A.blackLinks:visited
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #000000;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
A.greyLinks:link
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #666666;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
A.greyLinks:hover
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #666666;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: underline
}
A.greyLinks:visited
{
    FONT: 11px "Arial", "Helvetica","sans-serif";
    COLOR: #666666;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
A.lightGrey:link
{
    FONT: 11px "Arial", "Helvetica", "sans-serif";
    COLOR: #999999;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
A.lightGrey:hover
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #666666;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: underline
}
A.lightGrey:visited
{
    FONT: 11px "Arial", "Helvetica","sans-serif";
    COLOR: #999999;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
A.RedLinks:link
{
    FONT: bolder 11px "Arial", "Helvetica", "sans-serif";
    COLOR: #ff0000;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: underline
}
A.RedLinks:hover
{
    FONT: bolder 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #ff0000;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: underline
}
A.RedLinks:visited
{
    FONT: bolder 11px "Arial", "Helvetica","sans-serif";
    COLOR: #ff0000;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: underline
}
A.RedsubLinks:link
{
    FONT: 11px "Arial", "Helvetica", "sans-serif";
    COLOR: #ff0000;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
A.RedSubLinks:hover
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #ff0000;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: underline
}
A.RedSubLinks:visited
{
    FONT: 11px "Arial", "Helvetica","sans-serif";
    COLOR: #ff0000;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
FORM
{
    DISPLAY: inline
}
.selectStyle
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 150px;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.selectStyle_multiple
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 110px;
    COLOR: #666666;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.inputCells
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 80px;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.inputCells1
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 160px;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.inputCells_2
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 120px;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.inputCells3
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 120px;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.button
{
    BORDER-RIGHT: #c0ed00 1px solid;
    BORDER-TOP: #c0ed00 1px solid;
    MARGIN-TOP: 3px;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #c0ed00 1px solid;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #c0ed00 1px solid;
    BACKGROUND-COLOR: #e6f79a
}
.button1
{
    BORDER-RIGHT: #c0ed00 1px solid;
    BORDER-TOP: #c0ed00 1px solid;
    MARGIN-TOP: 3px;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #c0ed00 1px solid;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #c0ed00 1px solid;
    BACKGROUND-COLOR: #e6f79a
}
.headerstyle
{
    FONT-WEIGHT: 100;
    FONT-SIZE: medium;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #64874f
}
.bgcolorblack
{
    BACKGROUND-COLOR: black
}
.green_color
{
    DISPLAY: inline;
    COLOR: #336600
}
.select_services
{
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    FONT: 11px Arial, Helvetica, sans-serif;
    BORDER-LEFT: 0px solid;
    WIDTH: 145px;
    COLOR: #666666;
    BORDER-BOTTOM: 0px solid;
    BACKGROUND-COLOR: #ffffff
}
.small_services
{
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    FONT: 11px Arial, Helvetica, sans-serif;
    BORDER-LEFT: 0px solid;
    WIDTH: 120px;
    COLOR: #666666;
    BORDER-BOTTOM: 0px solid;
    BACKGROUND-COLOR: #ffffff
}
.inputCells
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 80px;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.button
{
    BORDER-RIGHT: #c0ed00 1px solid;
    BORDER-TOP: #c0ed00 1px solid;
    MARGIN-TOP: 3px;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #c0ed00 1px solid;
    WIDTH: 80px;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #c0ed00 1px solid;
    BACKGROUND-COLOR: #e6f79a;
    TEXT-ALIGN: center
}
.button_dark
{
    BORDER-RIGHT: #c0ed00 1px solid;
    BORDER-TOP: #c0ed00 1px solid;
    MARGIN-TOP: 3px;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #c0ed00 1px solid;
    WIDTH: 80px;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #c0ed00 1px solid;
    BACKGROUND-COLOR: #d3ee5c;
    TEXT-ALIGN: center
}
.select_multiple
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 90px;
    COLOR: #666666;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.inputCells_search
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    WIDTH: 120px;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
.button_dark
{
    BORDER-RIGHT: #c0ed00 1px solid;
    BORDER-TOP: #c0ed00 1px solid;
    MARGIN-TOP: 3px;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #c0ed00 1px solid;
    WIDTH: 80px;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #c0ed00 1px solid;
    BACKGROUND-COLOR: #d3ee5c;
    TEXT-ALIGN: center
}
.button_dark_2
{
    BORDER-RIGHT: #c0ed00 1px solid;
    BORDER-TOP: #c0ed00 1px solid;
    MARGIN-TOP: 3px;
    FONT: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #c0ed00 1px solid;
    WIDTH: 150px;
    COLOR: #000000;
    MARGIN-RIGHT: 0px;
    BORDER-BOTTOM: #c0ed00 1px solid;
    BACKGROUND-COLOR: #d3ee5c;
    TEXT-ALIGN: center
}
.padding_lhs
{
    PADDING-BOTTOM: 5px;
    FONT: 11px/145% Arial, Helvetica, sans-serif;
    PADDING-TOP: 10px;
    TEXT-ALIGN: center
}
.HeadLInk
{
    FONT: bold 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #336600;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.select_120
{
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    FONT: 11px Arial, Helvetica, sans-serif;
    BORDER-LEFT: 0px solid;
    WIDTH: 120px;
    COLOR: #666666;
    BORDER-BOTTOM: 0px solid;
    BACKGROUND-COLOR: #ffffff
}
.Fstyle
{
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}
.Sitemstyle
{
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}
.Astyle
{
    BACKGROUND-COLOR: #f3fbce;
    TEXT-ALIGN: center
}
.Istyle
{
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}
.Hstyle
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #336600;
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.Pstyle
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #336600;
    LETTER-SPACING: 0px;
    TEXT-DECORATION: none
}
.Hstyle1
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #336600;
    LETTER-SPACING: 0px;
    BACKGROUND-COLOR: #f3fbce;
    TEXT-DECORATION: none
}
DIV#div-datagrid
{
    OVERFLOW: auto;
    WIDTH: 750px;
    HEIGHT: 400px
}
.lockrow
{
    FONT: 11px "Tahoma" , "Arial", "Helvetica","sans-serif";
    COLOR: #336600;
    LETTER-SPACING: 0px;
    POSITION: relative;
    ;
    TOP: expression(document.getElementById("div-datagrid").scrollTop-2);
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}

.selectClass
{
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;
    BORDER-LEFT: #cccccc 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff
}