.arial11grey {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.arial11grey2 {
	FONT-SIZE: 11px; COLOR: #848383; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.arial11grey3 {
	FONT-SIZE: 11px; COLOR: #848383; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.arial13grey {
	FONT-SIZE: 13px; COLOR: #7c7c7c; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.whttext {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.arial11red {
	FONT-SIZE: 11px; COLOR: #d90b0c; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.arial16black {
	FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.arial14black {
	FONT-SIZE: 14px; COLOR: #848383; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.red_heading1 {
	FONT-SIZE: 18px; COLOR: #fe000c; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.arial01red {
	FONT-SIZE: 10px; COLOR: #d90b0c; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.arial16red {
	FONT-SIZE: 16px; COLOR: #d00022; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.arial13red {
	FONT-SIZE: 13px; COLOR: #d00022; FONT-FAMILY: Arial, Helvetica, sans-serif
}

