<a href="http://headlinesapp.mobi/mailutil/GoApp.jsp" style="text-decoration:none;color: inherit">
<tr>
    <td align="left" valign="top" style="padding:5px 0px 0px 0px">
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
                <td width="600" align="center" valign="bottom">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td align="center" valign="bottom">
                                <table width="100%" border="0" cellspacing="20" cellpadding="0" bgcolor="#FFFFFF">
                                    <tbody><tr>
                                        <td width="50" valign="top"><img src="https://graph.facebook.com/${USERID}/picture?type=square" width="50" height="50"></td>
                                        <td width="500" valign="top" style="font-size:16px;font-family:Arial,Helvetica,sans-serif" align="left">
                                            <table width="100%" border="0"  bgcolor="#FFFFFF">
                                                <tbody><tr>
                                                    <td  width="400" valign="top" style="font-size:16px;font-family:Arial,Helvetica,sans-serif;" align="left">
                                                        <span style=" font-size:20px; color:#366ebb; font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;">${USERNAME}</span><br>
                                                                                <span style="color:#000000;display: block;font-size:14px; font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;">${CAPTION}</span>
                                                    </td>
                                                </tr>

                                                </tbody></table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50" align="top" valign="top">
                                        </td>
                                        <td width="300" align="top" valign="top"><img border="0" src="${URL}" alt="" width="300">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50" align="top" valign="top">
                                        </td>
                                        <td width="500" valign="top" style="font-size:16px;font-family:Arial,Helvetica,sans-serif" align="top">
                                                                    <span style="font-size:12px; color:#366ebb; font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;"><b>${LIKES} </b>
                                                                        Likes - <b>${COMMENTS}</b> Comments </span>
                                        </td></tr>

                                    </tbody></table>
                            </td>
                        </tr>


                        </tbody></table>
                </td>
            </tr>
            </tbody></table>

    </td>

</tr>
</a>