<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Welcome</title>
</head>

<body>
<div id="main" style="height:647px; width:602px; border-color:#000000; border-width:thick; background-color:#f3f3f3">
	<div id="top" style="width:602px; height:115px; background-image:url(http://images.headlinesapp.mobi/mailtemplate/top.png)"></div>
	<div id="middle" style="height:420px;width:584px; background-color:#FFFFFF; margin-left:9px; margin-top:19px">
		<p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:24px; color:#494949; margin-left:20px; margin-top:20px;"><br>Hi ${firstName},</p>
		<p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; color:#494949;margin-left:20px; margin-right:20px">
			Welcome to Headlines - Your facebook updates organized so that you can cut through the noise and follow the stories that matters!
		</p>
		<p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; color:#494949;margin-left:20px; margin-right:20px">
			As you go about exploring the app, here are a few neat shortcuts you can<br> use:
		</p>

		<ul>
			<p style="font-family:Verdana font-size:13px; color:#494949;margin-left:20px; margin-right:20px">
			<li><font style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px;color:#f50776">Pull down</font><font style="font-family:Verdana font-size:13px; color:#494949;"> to refresh</font></li>
			<li><font style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px;color:#08819f">Double Tap</font><font style="font-family:Verdana, Arial, Helvetica, sans-serif;  font-size:13px; color:#494949;"> to 'like' an update</font></li>
			<li><font style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px;color:#5bb318">Swipe up</font><font style="font-family:Verdana, Arial, Helvetica, sans-serif;  font-size:13px; color:#494949;"> to view an album</font></li>
			<li><font style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px;color:#f73c0a">Swipe Left</font><font style="font-family:Verdana, Arial, Helvetica, sans-serif;  font-size:13px; color:#494949;"> to view more photos</font></li>
			<li><font style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px;color:#e4bd01">Tap the star</font><font style="font-family:Verdana, Arial, Helvetica, sans-serif;  font-size:13px; color:#494949;"> to 'fav' friends</font></li>
			<li><font style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px;color:#3c79ce">Long press</font><font style="font-family:Verdana, Arial, Helvetica, sans-serif;  font-size:13px; color:#494949;"> on a photo to save it to gallery</font></li>
			</p>
		</ul>
		<p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; color:#494949;margin-left:20px; margin-right:20px">
			So let Headlines get you right to the stories that you care about. No clutter, just stuff that matters.
		</p>
		<p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; color:#366ebb;margin-left:20px; margin-right:20px">
			-The Headlines Team
		</p>

	</div>
	<div id="bottom" style="width:584px; height:19px; background-image:url(http://images.headlinesapp.mobi/mailtemplate/Shadow.png); margin-left:9px;"></div>
	<div id="footer" style="height:74px;">
		<div id="left" style="width:301px; margin-left:301px; height:74px;">
			<div id="linkleft" style="float:left;width:151px; height:74px;">
				<div style="width:76px; height:74px; float:left; "><p style="font-family:Verdana;font-size:13px; color:#8c8c8c;">Follow us:</p></div>
				<div style="width:75px;height:74px; float:right; ">
					&nbsp;<a href="https://www.facebook.com/headlinesapp"><img src="http://images.headlinesapp.mobi/mailtemplate/facebookicon.png" style="margin-top:12px; "/></a>
					&nbsp;&nbsp;<a href="https://twitter.com/headlinessocial"><img 	src="http://images.headlinesapp.mobi/mailtemplate/twittericon.png"  style="margin-top:12px;"/></a></div>
			</div>
			<div style="float:none; widtht:150px; height:74px; ">
				<div style="width:75px;height:74px; float:left; "><p style="font-family:Verdana;font-size:13px; color:#8c8c8c;">&nbsp;&nbsp;Rate us:</p></div>
				<div style="width:75px;height:74px; float:right; ">&nbsp;<a href="https://itunes.apple.com/in/app/id618155018?mt=8"><img src="http://images.headlinesapp.mobi/mailtemplate/istore.png" style="margin-top:12px; "/></a></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
